# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#ignore all WIP and CMake stuff
Projects/CMake/
Projects/Eclipse/.metadata/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.o
*.d
*.suo
*.user
*.obj
*.pdb
*.ilk
*.ino
*.idb
*.ncb
WIP/*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
